/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root{
    --purple: #814096;
    --pink: #f83292;
    --gradient: linear-gradient(90deg, var(--purple), var(--pink));
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

*::selection{
    background: var(--pink);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: #f9f9f9;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--gradient);
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgb(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    background: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

/* Header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgb(0,0,0,.1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 2rem;
    color: var(--purple);
}

header .logo span{
    color: var(--pink);
}

header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--purple);
}

header .navbar a:hover{
    color: var(--pink);
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color: var(--purple);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

/* Home Section */

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/images/home-bg-img.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .image img{
    width: 40vw;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }

    50%{
        transform: translateY(-3.5rem);
    }
    
}

.home .content h3{
    font-size: 5.5rem;
    color: #333;
    text-transform: uppercase;
}

.home .content h3 span{
    color: var(--pink);
    text-transform: uppercase;
}

.home .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

.features .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features .box-container .box{
    flex: 1 1 30rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgb(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgb(0,0,0,.1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    text-align: center;
    transition: .2s linear;
}

.features .box-container .box img{
    height: 15rem;
}

.features .box-container .box h3{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.features .box-container .box p{
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
}

/* About */

.about{
    background: url(images/images/about-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

.about .column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .column .image{
    flex: 1 1 40rem;
}

.about .column .image img{
    width: 100%;
}

.about .column .content{
    flex: 1 1 40rem;
}

.about .column .content h3{
    font-size: 3rem;
    color: #666;
}

.about .column .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.about .column .content .buttons a:last-child{
    margin-left: 2rem;
}

.newsletter{
    text-align: center;
    padding: 5rem 1rem;
    background: url(images/images/subscribe-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.newsletter h3{
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
}

.newsletter p{
    color: #fff;
    font-size: 1.5rem;
    margin: 2rem auto;
    width: 70rem;
}

.newsletter form{
    display: flex;
    max-width: 70rem;
    border: .2rem solid #fff;
    padding: .5rem;
    border-radius: 5rem;
    margin: 2rem auto;
    height: 5.5rem;
}

.newsletter form input[type="email"]{
    padding: 0 2rem;
    font-size: 1.7rem;
    background: none;
    width: 100%;
    color: #fff;
    text-transform: none;
    background: none;
}

.newsletter form input[type="email"]::placeholder{
    color: #eee;
    text-transform: capitalize;
}

.newsletter form input[type="submit"]{
    background: #fff;
    width: 20rem;
    font-size: 1.7rem;
    border-radius: 5rem;
    cursor: pointer;
}

.newsletter form input[type="submit"]:hover{
    color: var(--pink);
}

/* Review */

.review .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.review .box-container .box{
    background: #fff;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: .1rem solid rgb(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgb(0,0,0,.1);
    flex: 1 1 30rem;
    border-radius: .5rem;
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 8rem;
    color: var(--pink);
    opacity: .3;
}

.review .box-container .box .user img{
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width: 7rem;
    margin-top: 2rem;
}

.review .box-container .box .user h3{
    color: var(--pink);
    font-size: 2rem;
}

.review .box-container .box .user .stars{
    color: var(--purple);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.review .box-container .box .comment{
    color: #666;
    font-size: 1.4rem;
    padding: 1rem;
}












































/* Media Queries */


@media (max-width: 991px){
    section{
    padding: 0 3%;
    padding-top: 7.5rem;
}

}

@media (max-width: 1200px){
    
    html{
        font-size: 55%;
    }
}

@media (max-width: 768px){

    header label{
    visibility: visible;
    opacity: 1;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 1rem 2rem;
        border-top: 0.1rem solid rgb(0,0,0,.1);
        box-shadow: 0 .5rem 1rem rgb(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .3s linear;
    }

    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }

    .home{
        flex-flow: column-reverse;
    }

    .home .image img{
        width: 100%;
    }

    .home .content h3{
        font-size: 3.6rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

    .about{
        background-position: right;
    }

    .newsletter p{
        width: auto;
    }
}


@media (max-width: 450px){
    
    html{
        font-size: 50%;
    }

    .about .column .content .buttons a{
        width: 100%;
        text-align: center;
    }

    .about .column .content .buttons a:last-child{
        margin: 1rem 0;
    }
}